<div class="row">
  <div class="large-8 columns">
    <div class="callout panel">
      <table style="width:100%">
        <tr>
          <th><b>Day of week</b></th>
          <th>Breakfast</th>
          <th>Lunch</th>
          <th>Dinner</th>
          <th>Any extras?</th>
        </tr>
        <tr>
        </tr>
      </table>
    </div>
  </div>
</div>


